* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1.5625rem 1rem;
}

#main {
  border: 2px solid green;
  padding: 0 50px;
}

.grid-section {
  border: 2px solid red;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}